<h1>Sample Form</h1>
<form [formGroup]="form">
    <label for="first_name">First Name</label>
    <input formControlName="firstName" id="first_name" name="first name" type="text" />
    <label for="last_name">Last Name</label>
    <input formControlName="lastName" id="last_name" name="last name" type="text"/>
    <label for="can_provide_email">Provide Email?</label>
    <input formControlName="canProvideEmail" id="can_provide_email" type="checkbox" [checked]="false" />
    @if (form.get('canProvideEmail')?.value) {
        <label for="email">Email Address</label>
        <input formControlName="email" id="email" type="email" />
    }
    <label for="gender">Gender</label>
    <select id="gender" formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
    @if (form.get('gender')?.value === "other") {
       <label for="gender_other">Enter your gender</label>
       <input id="gender_other" formControlName="genderOther" type="text"/>
    }
    <input type="submit" [disabled]="form.invalid" value="Submit">
</form>
{{ form.value | json}}