form {
  display: flex;
  flex-direction: column;
  align-content: start;

  label {
    margin-top: 8px;
  }

  div.group {
    display: flex;
    flex-direction: column;
  }

  input[type=submit] {
    margin-top: 16px;
  }
}